In [2]:
# Imported Necessary Modules
import pymongo

In [3]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
# Database creation(name=Telephone)
mydb=client["Telephone"]

In [6]:
# Created collection(name = db)
db=mydb.db

In [9]:
record=[{"Name":"Ramachandran",
    "Age":25,
    "City":"Pondicherry",
    "ISP":"Airtel",
    "Mobile No":95481
    },{  
    "Name":"Tehnmozhi",
    "Age":87,
    "City":"Pondicherry",
    "ISP":"Airtel",
    "Mobile No":85481
    },{
    "Name":"Bhavana",
    "Age":27,
    "City":"Chennai",
    "ISP":"Bsnl",
    "Mobile No":94881
    },{
    "Name":"Saranya",
    "Age":17,
    "City":"Kolkatha",
    "ISP":"Bsnl",
    "Mobile No":84881
    },{
    "Name":"Shalani",
    "Age":21,
    "City":"Chennai",
    "ISP":"Vi",
    "Mobile No":94811
    },{
    "Name":"Vijay",
    "Age":35,
    "City":"Delhi",
    "ISP":"Bsnl",
    "Mobile No":91581
    },{
    "Name":"Ajith",
    "Age":19,
    "City":"Mumbai",
    "ISP":"Jio",
    "Mobile No":91881}]

In [45]:
#CRUD Operataion
# i) Create records
db.insert_many(record)

In [31]:
# ii) Retrieve information   
all_record=db.find() #db is collection name

In [22]:
for i in db.find():
    print(i)

{'_id': ObjectId('635dcec9d0324e99b23cf88d'), 'Name': 'Ramachandran', 'Age': 25, 'City': 'Pondicherry', 'ISP': 'Airtel', 'Mobile No': 95481}
{'_id': ObjectId('635dd4ade53a1ed40fde2def'), 'Name': 'Tehnmozhi', 'Age': 87, 'City': 'Pondicherry', 'ISP': 'Airtel', 'Mobile No': 85481}
{'_id': ObjectId('635dd4ade53a1ed40fde2df0'), 'Name': 'Bhavana', 'Age': 27, 'City': 'Chennai', 'ISP': 'Bsnl', 'Mobile No': 94881}
{'_id': ObjectId('635dd4ade53a1ed40fde2df1'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635dd4ade53a1ed40fde2df2'), 'Name': 'Shalani', 'Age': 21, 'City': 'Chennai', 'ISP': 'Vi', 'Mobile No': 94811}
{'_id': ObjectId('635dd4ade53a1ed40fde2df3'), 'Name': 'Vijay', 'Age': 35, 'City': 'Delhi', 'ISP': 'Bsnl', 'Mobile No': 91581}
{'_id': ObjectId('635dd4ade53a1ed40fde2df4'), 'Name': 'Ajith', 'Age': 58, 'City': 'Pune', 'ISP': 'Jio', 'Mobile No': 91881}
{'_id': ObjectId('635f2dc3f485e0552d6f2df9'), 'Name': 'Ramachandran', 'Age': 25, 'City': 'Pondicherry', 'ISP': 'Airtel', 'Mobile No': 95481}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfa'), 'Name': 'Tehnmozhi', 'Age': 87, 'City': 'Pondicherry', 'ISP': 'Airtel', 'Mobile No': 85481}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfb'), 'Name': 'Bhavana', 'Age': 27, 'City': 'Chennai', 'ISP': 'Bsnl', 'Mobile No': 94881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfc'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfd'), 'Name': 'Shalani', 'Age': 21, 'City': 'Chennai', 'ISP': 'Vi', 'Mobile No': 94811}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfe'), 'Name': 'Vijay', 'Age': 35, 'City': 'Delhi', 'ISP': 'Bsnl', 'Mobile No': 91581}
{'_id': ObjectId('635f2dc3f485e0552d6f2dff'), 'Name': 'Ajith', 'Age': 19, 'City': 'Mumbai', 'ISP': 'Jio', 'Mobile No': 91881}

In [58]:
for i in db.find({"Age":{"$lt":20}}):
    print(i)

{'_id': ObjectId('635dd4ade53a1ed40fde2df1'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635dd4ade53a1ed40fde2df4'), 'Name': 'Ajith', 'Age': 19, 'City': 'Mumbai', 'ISP': 'Jio', 'Mobile No': 91881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfc'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dff'), 'Name': 'Ajith', 'Age': 19, 'City': 'Mumbai', 'ISP': 'Jio', 'Mobile No': 91881}

In [10]:
#Updating the collections
client['Telephone']['db'].update_one({"Name":"Ajith"},{"$set": {"Age":58}})

In [14]:
for i in client['Telephone']['db'].find({"Name":{'$eq':'Ajith'}}):
    print(i)

{'_id': ObjectId('635dd4ade53a1ed40fde2df4'), 'Name': 'Ajith', 'Age': 58, 'City': 'Pune', 'ISP': 'Jio', 'Mobile No': 91881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dff'), 'Name': 'Ajith', 'Age': 19, 'City': 'Mumbai', 'ISP': 'Jio', 'Mobile No': 91881}

In [31]:
#Deleteing in records
client['Telephone']['db'].delete_many({"Name":["Bhavana","Saranya"]})

In [32]:
for i in client['Telephone']['db'].find({}):
    print(i)

{'_id': ObjectId('635dd4ade53a1ed40fde2df0'), 'Name': 'Bhavana', 'Age': 27, 'City': 'Chennai', 'ISP': 'Bsnl', 'Mobile No': 94881}
{'_id': ObjectId('635dd4ade53a1ed40fde2df1'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635dd4ade53a1ed40fde2df2'), 'Name': 'Shalani', 'Age': 21, 'City': 'Chennai', 'ISP': 'Vi', 'Mobile No': 94811}
{'_id': ObjectId('635dd4ade53a1ed40fde2df3'), 'Name': 'Vijay', 'Age': 35, 'City': 'Delhi', 'ISP': 'Bsnl', 'Mobile No': 91581}
{'_id': ObjectId('635dd4ade53a1ed40fde2df4'), 'Name': 'Ajith', 'Age': 58, 'City': 'Pune', 'ISP': 'Jio', 'Mobile No': 91881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfb'), 'Name': 'Bhavana', 'Age': 27, 'City': 'Chennai', 'ISP': 'Bsnl', 'Mobile No': 94881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfc'), 'Name': 'Saranya', 'Age': 17, 'City': 'Kolkatha', 'ISP': 'Bsnl', 'Mobile No': 84881}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfd'), 'Name': 'Shalani', 'Age': 21, 'City': 'Chennai', 'ISP': 'Vi', 'Mobile No': 94811}
{'_id': ObjectId('635f2dc3f485e0552d6f2dfe'), 'Name': 'Vijay', 'Age': 35, 'City': 'Delhi', 'ISP': 'Bsnl', 'Mobile No': 91581}
{'_id': ObjectId('635f2dc3f485e0552d6f2dff'), 'Name': 'Ajith', 'Age': 19, 'City': 'Mumbai', 'ISP': 'Jio', 'Mobile No': 91881}